build/
out/
bin/
obj/

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.pdf
*.nav
*.snm
*.bbl
*.blg

__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

.*
!.gitignore

/.vscode/
/.trae/
/.idea/